#Broker { min-width:420px !important; height: 12em }
#Broker div.fieldset{float: left}
                    
#Broker div.fieldset label{display: table-cell}
/* #Broker div.fieldset input{display: table-column} */

#DowgateControls {width: 30em; height: 12em; display: table; z-index: 10}
#DowgateControls div#Dleft{width: 10em; float: left; padding: 0 1em;}
#DowgateControls div#Dmiddle{width: 10em;display: inline-block}
#DowgateControls div#Dright{width: 10em; float: right}

/* dowgate */
#controls{bottom: 0em; position: fixed; height: 3em; display: table-row; width: 100%;background-color:#fff}
#controls div{float: left; padding-right: 1em; padding-top: 0; width: auto}
#BottomTabs{position: fixed; bottom: 2.5em; z-index: 10}
#BottomTabs ul li{border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-right-radius: 6px;
                  border-bottom-left-radius: 6px; top: -6px}
#Blotter div.grid_content{ padding-bottom: 12em;padding-top: 5em}
#Blotter div.grid_content td[name=stock]{cursor: pointer}
#Blotter div.grid_content td[name=stock]:hover{background-color: #ddd}
#Blotter div.head{position: fixed}

