/* css for Apoco.display.form */


.apoco_form{position: fixed; top: 25%; left: 25%; 
                font-weight: normal; /*width: 60em; */
                /*min-height: 40em !important;  min-width: 43em !important; */
                z-index:600;
                min-width: 12em;
                min-height:18em;
                /* width: 30em;
                height: 25em; */
                /* padding:1em 25px 1em 2em; */
                 max-height: 80em;
                 overflow: hidden;
                 display: inline-block}
.form_header{cursor: move; height: 2em ; background-color:#000; color:#fff; min-width:inherit; width: inherit}
.form_header span{color: #fff}
.apoco_form .form_header h5{display:inline; margin: 0;position: absolute; top:0.4em; left:0.4em  }

/* .form_drag{ height: 100%; width: 100%;  } */
.form_content{  /*width: 100%;  */
                margin: 1em;
               overflow: hidden;
               z-index:600; }

.form_content div.nodes{ margin: 2em ; top: 3em  }
.form_scroll{  
              overflow-y: auto;
              }


.apoco_form h2 { display: inline;}
.apoco_form ul{list-style: none; display: table; padding: 0.3em; float: left; top: 0px; }
.apoco_form .float ul.aligned_float{ width: 8em; height: 25px}

.apoco_form ul li{display: table-row; height: 3em; }
.apoco_form ul li.seperator{width: 100%; background: #222; border-bottom: 1px solid #777; cursor: auto }

/*
.apoco_form{position: absolute; top: 16em; left: 24em; 
                 font-size: 12pt; font-weight: normal; width: 60em; min-height: 40em !important;  min-width: 40em !important; 
                 z-index:600; padding:1em 0em 0em 2em;
                 border: 1px solid #555;
                 overflow: hidden;
                 display: inline-block}
.apoco_form .form_content{ height: 100%; width: 100%;  overflow: auto; z-index:600; }
*/


.apoco_form li.invalid_input{ color: #cc0000 /*border: 2px solid #cc0000 */ }

/* padding: top right bottom left */
/*
.apoco_form .form_list {overflow-y: auto; overflow-x: hidden;  margin: 0 0 1em 0; font-size: 10pt; border: 1px solid #777; width: 20em; height: 10em; padding: 0; }
.apoco_form ul.apoco_form_list {margin: 0 ;padding: 0em; list-style: none;}
.apoco_form ul.apoco_form_list li{float: left; clear: both; width: 100%; padding: 5px 0em 5px 1em; cursor: pointer ; height:15px }
.apoco_form ul.apoco_form_list li.selected{ background: #666; }
.apoco_form ul.apoco_form_list li.seperator{width: 100%; background: #222; border-bottom: 1px solid #777; cursor: auto }
*/

.apoco_form .form_header span{display: inline; cursor: pointer; vertical-align: middle; float: right;
                                    width: 16px; height: 16px; margin:0.2em}


.apoco_form h4 {text-align: center;  }
/*
.apoco_form ul{ margin: auto; 
                    list-style: none; 
                    padding: 0em;  top: em; }
.apoco_form ul li{height: 35px; display: inline-block}
*/
.apoco_form ul li label { height: 1.5em; margin: 0 1em 0 0; display: inline;
                              text-align: right;
                              
                              float: left;
                              width: 4em} /*display: table-cell; text-align: right} */
/*.apoco_form ul li input{ width: 23em; } */
.apoco_form ul li ul.fieldset{display: inline-block; }

.apoco_form ul li.count input,
.apoco_form div.count input{ display: inline-block; 
                                  width: 10em; }
/*.apoco_form ul li.text{display: block  } */
.apoco_form ul li input::-webkit-inner-spin-button{
    webkit-appearance: none;
    margin: 0; }  /* for chrome to stop up/down arrows */

.apoco_form ul li input:hover{ border-color: #999 }
.apoco_form ul li.stringArray{width: 42em; display: inline-table;  }

.apoco_form ul li.stringArray ul.fieldset li:first{ margin-left: 155px; display: table-row }
.apoco_form ul li.stringArray ul.fieldset li{ margin-left: 16em; display: table-row } 
.apoco_form div.list_container{ display: inline-block; margin-left: 16em; position: relative; }

.apoco_form ul li.imageArray{ display: inline }

.apoco_form ul li.imageArray input{margin-left: 5px}

.apoco_form ul li.imageArray div.image_list{   }
.apoco_form ul li.imageArray div.thumbnail{ width: 104px; height: 104px; 
                                                border: 4px solid #000;
                                                margin: 4px; padding: 2px;
                                                display: inline-block;}
.apoco_form ul li.imageArray div.thumbnail image{padding: 0.2em  }
.apoco_form ul li textarea { display: inline;
                                 width: 14em; height: 12em;  
                                 margin-bottom: 1em}
.apoco_form li.form_array input{ display: inline-block; float: left;  }


.apoco_form ul li p{  display: table-cell; float: left }
.apoco_form .form_button_container{height: 5em; display: block;position:absolute;min-width:inherit;width:inherit; bottom:0px; border-top: 1px solid }  /* container for buttons */ 
.apoco_form button.print_button { float: right; } 
.apoco_form button { float: left;  display: block; margin: 1em 3em} 
.apoco_form li p.required{ color: #aa2222; display: inline; font-size: 8pt; float: right;
                               vertical-align: middle}
.apoco_form p.required span{ background-image: url(images/ui-icons_cd0a0a_256x240.png);}
.apoco_form .form_footer{position: absolute; bottom: 12px; height: 3em; width: 100%;}
